body {
    margin: 0;
    text-align: center;
    font-family: Helvetica;
}

hr {
    border: dotted #E9F8F9 4px;
    border-bottom: none;
    width: 5%;
    margin: 60px auto;
    align-items: center;
    margin-top: 40px;
}

.first {
    width: 100%;
    height: 80%;
}

.second {
    margin-left: 20%;
    width: 20%;
    height: 40%;
    float: left ;
    padding: 20px;
    
}

.middle-container {
    background-color: #041528;
}

.first-txt {
    color: #4bdf9f;
    position: absolute;
    margin-left: 40px;
    font-size: 195%;
    margin-top: 199px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.second-txt {
    color: #6da98f;
    text-align: left;
    position: absolute;
    margin-right: 40%;
    margin-left: 40px;
    margin-top: 245px;
    font-size: 140%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    margin-top: 20px;
    text-align: center;
    color: #5FCC9C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

h5 {
    margin-top: 20px;
    margin-left: 52%;
    color: #5FCC9C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

h6 {
    margin-top: 20px;
    text-align: center;
    color: #5FCC9C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: 2px solid #B6EADA ;
    border-radius: 8px;
    padding: 5px 5px ;
    background-color: #041528;
}

h2 {
    color: #041528;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 33px;
    margin: 30px auto;
}

.eduTable {
    margin-left: 15%;
    margin-right: 15%;
    color: #E1FFEE;
}

td {
    border: 1px solid #E1FFEE;
    text-align: center;
    padding: 10px;
    font-size: 110% ;
    color: #E9F8F9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th {
    color: #041528;
    border: 1px solid #E1FFEE;
    background-color:#5FCC9C;
    text-align: center;
    padding: 10px;
    font-size: 110% ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: monospace;
    color: #041528;
    font-size: 18px;
    background: #5FCC9C;
    padding: 10px 20px 10px 20px;
    border: solid #B6EADA 2px;
    text-decoration: none;
}
  
.btn:hover {
    background: #CFF5E7;
    text-decoration: none;
}

.contact-me {
    margin: 30px auto;
    background-color: #167696;
    padding-bottom: 23px;
}

.bottom-container {
    background-color: #256D85;
    padding: 30px 0 20px ;
  }

a {
    color: #041528;
    margin: 10px 10px;
    text-decoration: none;
    background-color: #CFF5E7;
    border: 2px solid transparent;
    padding: 7px 9px;
    border-radius: 7px;
  }

a:hover {
    color: #167696;
  }

.skills { 
    box-sizing: border-box;
}
  
.container {
    margin-left: 20px;
    width: 100%;
    height: 100%;
    background-color: #E9F8F9;
}
  
.skills {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #5FCC9C;
}
  
.C {
    width: 80%; 
    height: 30px;
    background-color: #256D85;
    color: #E1FFEE;
    padding-left: 15px;
    padding-top: 5px;
}

.CPL {
    width: 75%; 
    height: 30px;
    background-color: #256D85;
    color: #E1FFEE;
    padding-left: 15px;
    padding-top: 5px;
}

.htmlcss {
    width: 90%; 
    height: 30px;
    background-color: #256D85;
    color: #E1FFEE;
    padding-left: 15px;
    padding-top: 5px;
}

.java {
    width: 75%; 
    height: 30px;
    background-color: #256D85;
    color: #E1FFEE;
    padding-left: 15px;
    padding-top: 5px;
}

.machine {
    width: 85%; 
    height: 30px;
    background-color: #256D85;
    color: #E1FFEE;
    padding-left: 15px;
    padding-top: 5px;
}

.DSA {
    width: 70%;
    height: 30px; 
    background-color: #256D85;
    color: #E1FFEE;
    padding-left: 15px;
    padding-top: 5px;
}

p {
    font-size: 110%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5FCC9C;
}

nav ul li {
    list-style-type: none;
    display: inline;
    padding: 15px 25px;
}

nav ul li a:hover {
    color: #256D85;
}

.aboutme {
    width: 70%;
    text-align: left;
    line-height: 2;
    margin-top: 60px;
    margin-left: 7%;
    margin-right: 10%;
    margin-bottom: 100px;
}

.third {
    padding-top: 10px;
    padding-left: 20px;
}

.Profirst {
    color: #1b3e75;
    font-weight: bold;
    font-size: 88%;
    line-height: 1.5;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 25px;
    background: #58c595;
    border-radius: 10px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.button {
    color :#041528;
    font-weight: bold;
}

.button:hover {
    background-color: #041528;
    color: #B6EADA;
}

span {
    color: #041528;
}